html,body{
    background-color:#fff;
    margin: 0;
    padding: 0;
}
#auth{
    height:100vh;
    overflow-x:hidden;
}
/* #auth #auth-right{
    height:100%;
    background:url(/dist/asset/images/auth-right.jpg),linear-gradient(90deg,#FE0002,#3f5491)
} */
#auth #auth-left{
    padding:1.4rem 5rem;
}
#auth #auth-left .form-control{
    font-size: 1rem;
}
#auth #auth-left button{
    background-color: #FE0002;
    border-color: #FE0002;
   
}
#auth #auth-left .auth-title{
    font-size:2rem;
    margin-bottom:1rem
}
#auth #auth-left .auth-subtitle{
    font-size:1.5rem;
    line-height:2rem;
    color:#a8aebb
}
#auth #auth-left .auth-logo{
    margin-bottom:2rem;
    text-align: center;
}
#auth #auth-left .auth-logo  img{
    height:6rem;  
}
#auth #auth-right .school-bg img{
   /*  padding-top: 5.5rem; */
    width: 99%;
    height: 99%;
    object-fit: contain;
}

#auth #auth-left .text-center p {
    font-size: 18px; 
}

#auth #auth-left .text-center .mt-5 .text-lg .fs-4 {
    padding-top: 0%;
}

@media screen and (max-width:767px){
    #auth #auth-left{padding:5rem}}
    /*  */